
.videos {
  box-sizing: border-box;
  min-height: 250px;

  .message {
    color: $white;
    padding: 30px 20px;
    text-align: center;

    p {
      color: $white;
    }
  }

  .box-video {
    box-sizing: border-box;
    padding: 5px;
  }
}
